
main{
    padding: 3rem;
}
header{
    height:100px;
}

/*Dish-Intro*/

.dish{
    object-fit:cover;    
    object-position: center;
    border-radius:10px;
    width: 100%;
    height: 200px;
    padding-bottom: 50px;
}
.lightgray{
    background-color: #efefef;
    border-radius:5px;
    height:fit-content;
}
.icons{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
}
.info{
    display: flex;
    width: 50%;
    gap: 1rem;
    margin-bottom: 70px;
}
.info-lines{
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    padding-left:10px;
    padding-right: 10px;
    height: min-content;
    flex:auto;
}
.info-lines p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 0;
}

/*Portions*/ 

.portions{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}
input{
    height:40px;
}
.recipe label{
    background-color: green;
    color:white;
    display: flex;
    align-items: center;
    padding: 10px 40px;
}
.recipe p{
    width: fit-content;
}

/*Recipe*/ 

table{
    margin:0;
    border-collapse: collapse;
    padding-right: 0px;
    margin-bottom:50px;
    width: 100%;
}
tbody{
    display: flex;
    flex-direction: column;
}
tr{
    display: flex;
}
td{
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
}
.nopadding-right{
    padding-right:5px;
    padding-left: 20px;
}
.nopadding-left{
    padding-left:0px;
    padding-right:20px;
}

/*Cooking-Section*/

.cooking-instructions p{
    width:fit-content;
    padding: 10px;
    display: flex;
}

@media (max-width:1000px) {
    .info{
        width: 100%;
    }
}
@media (max-width:600px) {
    .info{
        flex-direction: column;
        align-items: center;
    }
    h1, h2, h3{
        text-align: center;
    }
    h1{ 
        font-size: 1.7rem;
    }
    h2{ 
        font-size: 1.5rem;
    }
    h3{ 
        font-size: 1.3rem;
    }
    .portions{
        flex-direction: column;
        align-items: center;
    }
    .dish{
        object-fit:none;  
    }
    .info-lines{
        width: 100%;
    }
}

/* Contact-Site*/

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form{
    margin-top: 70px;
    background-color: #efefef;
    border-radius: 20px;
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textbox{
    height: 40px;
    width:100%;
}
.big-textbox{
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}
#submit{
    background-color: #008000;
    color: white;
    width: 60%;
    margin:auto;
}

@media (max-width: 800px) {
    .contact-form{
        width: 70%;
    }

}

/*Jonas-css-stuff*/

header{
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    box-shadow: 0px 7px 5px #efefef;
    margin-bottom: 7px;
}

.logo{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 70px;
    width: auto;
}

.headmenu{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 10px;


}

.navlinks{
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.navlinks:hover{
    color: rgb(0, 167, 0);
    text-shadow: #000000;
    text-decoration: underline;
}
.rezeptdestagesimg{
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.rdt{
    display: flex;
    flex-direction: row;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.rezeptdestages{
    display: flex;
    flex-direction: column;

    padding-left: 25px;
}
#rdtheadline{
    margin:0;
    margin-bottom: 20px;
    

}
footer{
    background-color: #403b3b;
    height: 200px;
    margin-top: 20px;
}

button{
    display: flex;
    background-color: #008000;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: none;
    width: fit-content;
}

button:hover{
    cursor: pointer;
    background-color: #00bd00;

}
body{
    margin: 0;
}

.dishsection{
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    padding-bottom: 50px;

}
h2{

    font-size: 24px;
    font-weight: 400;
}
h3{
    font-size: 16px;
    font-weight: 400;
}
.dishes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.columndishes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dishimg{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.pvw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 70px;
}

.textalgin{
    text-align: center;
}