body{
    padding: 130px;
}
header{
    height:100px;
}

/*Dish-Intro*/

.dish{
    object-fit: cover;    
    object-position: center;
    border-radius:10px;
    width: 100%;
    height: 200px;
    padding-bottom: 50px;
}
.lightgray{
    background-color: #efefef;
    border-radius:5px;
    height:fit-content;
}
.icons{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
}
.info{
    display: flex;
    width: 50%;
    gap: 1rem;
    margin-bottom: 70px;
}
.info-lines{
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    padding-left:10px;
    padding-right: 10px;
    height: min-content;
    flex:auto;
}
.info-lines p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 0;
}

/*Portions*/ 

.portions{
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
}
input{
    height:40px;
}
.recipe label{
    background-color: green;
    color:white;
    display: flex;
    align-items: center;
    padding: 10px 40px;
}
.recipe p{
    width: fit-content;
}

/*Recipe*/ 

table{
    margin:0;
    border-collapse: collapse;
    padding-right: 0px;
    margin-bottom:50px;
    width: 100%;
}
tbody{
    display: flex;
    flex-direction: column;
}
tr{
    display: flex;
}
td{
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
}
.nopadding-right{
    padding-right:5px;
    padding-left: 20px;
}
.nopadding-left{
    padding-left:0px;
    padding-right:20px;
}

/*Cooking-Section*/

.cooking-instructions p{
    width:fit-content;
    padding: 10px;
    display: flex;
}

/* Contact-Site*/

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form{
    margin-top: 70px;
    background-color: #efefef;
    border-radius: 20px;
    padding: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textbox{
    height: 40px;
    width:100%;
}
.big-textbox{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
}
#submit{
    background-color: #008000;
    color: white;
    width: 60%;
    margin:auto;
}